# IntelliJ project files
.idea/
*.iml
*.ipr
*.iws
out
gem

# VS Code project files
.vscode/

# MacOS files
.DS_Store
Thumbs.db

# Node files
node_modules/
!node_modules/@vuepress/*
docs/
vuepress2pdf/files/*.html